img, .img {
  image-rendering: pixelated;
}

.dividedGridCell100 {
  background-image: repeating-linear-gradient(0deg, transparent, transparent 99px, #CCC 99px, #CCC 100px), repeating-linear-gradient(-90deg, transparent, transparent 99px, #CCC 99px, #CCC 100px);
  background-size: 100px 100px;
}

.dividedGridCell10 {
  background-image: repeating-linear-gradient(0deg, transparent, transparent 49px, #DDD 49px, #DDD 50px), repeating-linear-gradient(-90deg, transparent, transparent 49px, #DDD 49px, #DDD 50px);
  background-size: 50px 50px;
}