html, body, #app {
  height: 100%;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#app {
  border: 0px solid #000;
  box-sizing: border-box;
  background: transparent;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  user-select: none;
}

#app:after {
  position: absolute;
  content: '';
  display: block;
  box-shadow: inset 0px 0px 20px 0px black;
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.abs {
  position: absolute;
  top: 0;
  left: 0;
}

.container, .scene {
  width: 100%;
  height: 100%;
}

.scene {
  overflow: hidden;
}